/* Universal Styles */

.flex-content {
  display: flex;
  padding: 0 1.5rem;
}

.main-content img {
  width: 100%;
  margin: 1rem 0;
}

.main-content video {
  width: 100%;
  margin-bottom: 1rem;
}

.main-content .content {
  margin: 0 1.5rem 2rem 1.5rem;
  width: 100%;
}

.flex-content .main-content {
  width: 60%;
  padding: 2rem 1.5rem 2rem 0;
  border-right: 1px solid rgb(245, 245, 245);
}

.flex-content {
  display: flex;
  padding: 0 1.5rem;
}

.supporting-content {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 2rem 0;
}

.mobile {
  display: none;
}

/* Header */

header {
  background-color: white;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
}

header div {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

header div span::after {
  content: 'ACADEMY';
  color: lightgrey;
}

/* Navigation */

ul li {
  display: inline;
  margin-right: 1rem;
}

nav.mobile {
  display: none;
}

/* Banner */

.banner {
  background-color: lightgrey;
  padding-top: 4rem;
}

.banner .main-content {
  border-right: none;
}

.banner .banner-text {
  justify-content: center;
  margin-left: 1rem;
  width: auto;
}

.button {
  background-color: rgb(75, 75, 75);
  text-decoration: none;
  color: white;
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
}

/* Heading */

/* Sidebar */

.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info img {
  width: 35%;
  margin: 1rem;
}

/* Courses */

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  margin: 0 1rem 1rem 1rem;
  width: 28.5%;
  height: 423px;
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.image-container {
  height: 220px;
}

.item img {
  width: 100%;
}

.item h3 {
  margin: 1rem;
}

.item span {
  margin: 0.5rem 0 0.5rem 1rem;
}

.item p {
  margin: 0.5rem 0 1.5rem 1rem;
}

#courses h2 {
  text-align: center;
  padding: 2rem;
}

#courses {
  background-color: lightgray;
}

/* Thesis Exhibit */

h2#thesis {
  text-align: center;
  padding: 2rem;
}

#video {
  padding-top: 0;
}

/* Footer */

footer {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(245, 245, 245);
}
